.calculator-container {
  width: 400px;
  margin: 0 auto;

  .calculator-row {
    display: flex;
    flex-direction: row;

    .display {
      flex: 1;
      text-align: right;
      padding: 0.5rem;
      margin-bottom: 0.5rem;
      border-radius: 5px;
      border: 1px solid Grey;
      background-color: #fff;
    }
  }
}
.calculator-button {
  flex: 1;
}
