.navbar {
  // TODO: consider using fixed header
  // position: fixed !important;
  // top: 0;
  // left: 0;
  // right: 0;
  // z-index: 9999;

  .navbar-item img {
    max-height: none;
  }
}

@media (max-width: 1007px) {
  .navbar-item img {
    width: 200px;
  }
}
