.project-column {
  max-width: 400px;
}
.project-img {
  background-color: rgba(255, 255, 255, 1);
}
.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in;
  background-color: rgba(255, 255, 255, 0.8);

  &:hover {
    transition: 0.3s ease-in;
    background-color: rgba(255, 255, 255, 0.5);
    .img-overlay-text {
      transition: 0.3s ease-in;
      background-color: rgba(255, 255, 255, 0.8);
      text-decoration: underline;
    }
  }

  .img-overlay-text {
    padding: 10px;
    transition: 0.3s ease-in;
    background-color: rgba(255, 255, 255, 0.5);
    color: #00d0b1;
    font-weight: 700;
  }
}
