.weather-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  .weather-icon {
    width: 200px;
    height: 200px;
  }
  .weather-temp {
    margin-left: 2rem;
  }
}
.weather-location {
  margin: 2rem 0;
}
