.pomodoro-set {
  display: flex;
  justify-content: center;
  align-items: center;

  .pomodoro-set-title {
    width: 300px;
    text-align: right;
    margin-right: 10px;
    padding: 10px;
    margin: 0;
  }
  .pomodoro-btn {
    width: 50px;
    margin: 5px;
    font-size: 24px;
    cursor: pointer;
  }
}
.pomodoro-units {
  font-size: 1.5rem;
}
.pomodoro-clock-container {
  display: flex;
  justify-content: center;
}
.pomodoro-clock {
  //display:block;
  width: 504px;
  text-align: center;
  margin-top: 30px;
  border: 1px solid $black;
  &:hover {
    box-shadow: 0 0 4px 2px $turq;
    //outline: 4px solid $turq;
  }

  .pomodoro-progressBar {
    margin: 1px;
    height: 50px;
    transition: 0.3s;

    .pomodoro-progressBar-number {
      width: 500px;
      font-size: 32px;
      height: 50px;
      font-weight: 700;
    }
  }
  .workColor {
    background-color: $turq;
  }
  .breakColor {
    background-color: $green;
  }
}
