.motto-text {
  text-align: center;
  padding: 3rem 0 2rem 0;
  min-height: 11rem;
}
.numbers-div {
  .numbers-message {
    padding: 1rem 0;
    transition: 0.3s;

    &:hover {
      cursor: pointer;
      @include box_shadow(2);
      transition: 0.3s;
    }
  }
}
.numbers-current {
  padding: 1em 0 !important;
}
.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
