.simon-container {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 9999;

  .color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    border: 5px solid #2b3431;
  }
  .green {
    @extend .color;
    background-color: #00a845;
    border-top-left-radius: 100%;
  }
  .red {
    @extend .color;
    background-color: #a10a0f;
    border-top-right-radius: 100%;
  }
  .yellow {
    @extend .color;
    background-color: #cda801;
    border-bottom-left-radius: 100%;
  }
  .blue {
    @extend .color;
    background-color: #024890;
    border-bottom-right-radius: 100%;
  }
  .green-light {
    @extend .green;
    background-color: #00ff00;
  }
  .red-light {
    @extend .red;
    background-color: #ff0000;
  }
  .yellow-light {
    @extend .yellow;
    background-color: #ffef00;
  }
  .blue-light {
    @extend .blue;
    background-color: #1e90ff;
  }
  .control-container {
    background-color: White;
    border-radius: 50%;
    border: 5px solid #2b3431;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .control-title {
      font-family: 'Pricedown', sans-serif;
      margin-top: 1rem;
    }
    .control-buttons-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1rem;

      .display {
        width: 73px;
        height: 52px;
        font-family: 'Orbitron', sans-serif;
        border: 2px solid #2b3431;
        border-radius: 0.25rem;
        padding: 0 0.5rem;
        margin: 0 0.5rem;
        background-color: #350e14;
        color: #f32200;
      }
      .control-button {
        margin: 0 0.5rem;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #2b3431;
      }
    }
    .control-powerbutton-container {
      margin-top: 1rem;

      .uncheckedIcon,
      .checkedIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: 700;
        color: #fff;
      }
    }
  }
}
