.ttt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ttt-row {
  display: flex;
  flex-direction: row;
  //background-color: $black;
}
.ttt-cell {
  width: 200px;
  height: 200px;
  background-color: $light-grey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle,
.cross {
  font-size: 108px;
}

.console {
  font-size: 72px;
  color: $red;
}

.players {
  text-align: center;
  margin-bottom: 10px;
}

.top-left,
.top-middle,
.middle-left,
.middle-middle {
  border-bottom: 1px solid $black;
  border-right: 1px solid $black;
}
.top-right,
.middle-right {
  border-bottom: 1px solid $black;
}
.bottom-left,
.bottom-middle {
  border-right: 1px solid $black;
}
