.date {
  padding-right: 10px;
}
.tribute-img {
  padding: 10px 0;
}
.movielist-heading {
  margin-top: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 42px;
}
.lead {
  margin-top: 5px;
  margin-bottom: 0;
  border-left: 5px solid #ccc;
  padding-left: 5px;
}
