.channels-container {
  display: flex;
  flex-direction: column-reverse;

  .message:not(:first-child) {
    margin-bottom: 1.5rem;
  }
}
.twitch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.twitch-item {
  justify-content: space-around;
}
.twitch-avatar-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  .twitch-avatar {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }
}
.twitch-bio {
  font-size: 0.8rem;
}
.twitch-status {
  display: flex;
  flex-direction: row;

  .twitch-status-text {
    margin-left: 0.25rem;
  }
}
