.wikiviewer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.wiki-random {
  text-align: center;
  margin: 2rem 0 2rem 0;
}
.result-group {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.result-item {
  margin-bottom: 1rem;
  transition: 0.3s;

  .result-title {
    color: inherit;
    transition: 0.3s;

    .result-icon {
      display: none;
      margin-left: 1rem;
      font-size: initial;
    }
  }

  &:hover {
    @include box_shadow(2);
    transition: 0.3s;

    .result-title {
      color: $primary;
      transition: 0.3s;

      .result-icon {
        display: inline-block;
      }
    }
  }
}
