.ball-container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-color: Grey;
  transition: 0.3s;
  position: relative;

  .time {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 9999;
  }
  .filling {
    width: 100%;
    height: 0%;
    background-color: White;
    transition: 0.3s;
  }
}
