@charset "UTF-8";

@import '../node_modules/bulma/sass/utilities/_all';
@import './styles/vars';
@import './styles/shadows';

@import './styles/header';
@import './styles/landing';

@import './styles/calculator';
@import './styles/localweather';
@import './styles/pomodoro';
@import './styles/portfolio';
@import './styles/randomquote';
@import './styles/tictactoe';
@import './styles/tribute';
@import './styles/twitchtv';
@import './styles/wikiviewer';
@import './styles/simon';

@import './styles/zkouska';

/* Bulma specific variables */
$navbar-height: 80px;
$success: #84c24d;
$yellow: #fbec40;
$red: #f34b37;

$message-background-color: $white;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700');
@import url('https://fonts.googleapis.com/css?family=Orbitron');

@font-face {
  font-family: 'Pricedown';
  src: url('./styles/fonts/pricedown.ttf') format('truetype');
}

@import '../node_modules/bulma/bulma';

body {
  font-family: 'Open Sans', sans-serif;
}

button:focus {
  outline: 0;
}

.project-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  min-width: 400px;
  max-width: 50%;
  margin: 0 auto;
  transition: 0.3s;

  &:hover {
    @include box-shadow(2);
    transition: 0.3s;
  }
}
